/* Hack para hacer responsive y uso de REM mas facil */

/*
62.5 (html) * 16 (body)  = 1,000

1,000 / 100 = 10 # Para obtener los píxeles

1rem = 10px
*/

/* Definir paleta de colores */
:root {
    --blanco: #FFFFFF;
    --obscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem; /* 3.8rem ahora equivalen a 38px */
}

.titulo span {
    font-size: 2rem; /* 2rem ahora equivalen a 20px */
}