/* 
Definir paleta de colores
Se agregar varaibles 
*/
:root {
    --blanco: #FFFFFF;
    --obscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* Hack para hacer responsive y uso de REM mas facil */

/*
62.5 (html) * 16 (body)  = 1,000

1,000 / 100 = 10 # Para obtener los píxeles

1rem = 10px
*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem; /* 3.8rem ahora equivalen a 38px */
}

.titulo span {
    font-size: 2rem; /* 2rem ahora equivalen a 20px */
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.nav-principal {
    display: flex; /* Se agrega la vista Flex */
    justify-content: space-between; /* Se agrega espaciado entre los enlaces del menu */
}

.nav-principal a {
    color: var(--blanco);
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

/* Efecto al pasar el mouse frente al enlace de cada menu */
.nav-principal a:hover {
    background-color: var(--primario);
    color: var(--obscuro);
}